In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
s = pd.Series([1,3,5,np.nan,6,8])

In [4]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [5]:
dates = pd.date_range('20130101', periods=6)

In [6]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [8]:
df

                   A         B         C         D
2013-01-01 -0.002324 -1.038655 -0.539990  0.380492
2013-01-02  0.861918  0.181241  1.715810 -0.049918
2013-01-03  0.467843 -0.180619  0.390219 -0.408957
2013-01-04 -0.262548 -0.492331 -0.503935  0.815956
2013-01-05  0.871727  1.551480  0.764403 -0.128465
2013-01-06 -1.879630  0.226380 -0.165288  0.598083

In [9]:
df2 = pd.DataFrame({ 
	'A' : 1.,
	'B' : pd.Timestamp('20130102'),
	'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
	'D' : np.array([3] * 4,dtype='int32'),
	'E' : pd.Categorical(["test","train","test","train"]),
	'F' : 'foo' 
})

In [10]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [12]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [13]:
df.head()

                   A         B         C         D
2013-01-01 -0.002324 -1.038655 -0.539990  0.380492
2013-01-02  0.861918  0.181241  1.715810 -0.049918
2013-01-03  0.467843 -0.180619  0.390219 -0.408957
2013-01-04 -0.262548 -0.492331 -0.503935  0.815956
2013-01-05  0.871727  1.551480  0.764403 -0.128465

In [14]:
df.tail(3)

                   A         B         C         D
2013-01-04 -0.262548 -0.492331 -0.503935  0.815956
2013-01-05  0.871727  1.551480  0.764403 -0.128465
2013-01-06 -1.879630  0.226380 -0.165288  0.598083

In [15]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [16]:
df

                   A         B         C         D
2013-01-01 -0.002324 -1.038655 -0.539990  0.380492
2013-01-02  0.861918  0.181241  1.715810 -0.049918
2013-01-03  0.467843 -0.180619  0.390219 -0.408957
2013-01-04 -0.262548 -0.492331 -0.503935  0.815956
2013-01-05  0.871727  1.551480  0.764403 -0.128465
2013-01-06 -1.879630  0.226380 -0.165288  0.598083

In [17]:
df.values

array([[-0.00232441, -1.03865524, -0.53999028,  0.38049234],
       [ 0.86191784,  0.18124098,  1.71580984, -0.0499179 ],
       [ 0.46784288, -0.18061912,  0.39021851, -0.40895655],
       [-0.26254836, -0.49233117, -0.50393493,  0.81595608],
       [ 0.87172722,  1.55148028,  0.76440325, -0.12846496],
       [-1.87962982,  0.22638006, -0.16528844,  0.59808271]])

In [18]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.009498  0.041249  0.276870  0.201199
std    1.031803  0.875762  0.871035  0.471512
min   -1.879630 -1.038655 -0.539990 -0.408957
25%   -0.197492 -0.414403 -0.419273 -0.108828
50%    0.232759  0.000311  0.112465  0.165287
75%    0.763399  0.215095  0.670857  0.543685
max    0.871727  1.551480  1.715810  0.815956

In [19]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  0.380492 -0.539990 -1.038655 -0.002324
2013-01-02 -0.049918  1.715810  0.181241  0.861918
2013-01-03 -0.408957  0.390219 -0.180619  0.467843
2013-01-04  0.815956 -0.503935 -0.492331 -0.262548
2013-01-05 -0.128465  0.764403  1.551480  0.871727
2013-01-06  0.598083 -0.165288  0.226380 -1.879630

In [20]:
df.sort_index(axis=1, ascending=True)

                   A         B         C         D
2013-01-01 -0.002324 -1.038655 -0.539990  0.380492
2013-01-02  0.861918  0.181241  1.715810 -0.049918
2013-01-03  0.467843 -0.180619  0.390219 -0.408957
2013-01-04 -0.262548 -0.492331 -0.503935  0.815956
2013-01-05  0.871727  1.551480  0.764403 -0.128465
2013-01-06 -1.879630  0.226380 -0.165288  0.598083

In [21]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-01 -0.002324 -1.038655 -0.539990  0.380492
2013-01-04 -0.262548 -0.492331 -0.503935  0.815956
2013-01-03  0.467843 -0.180619  0.390219 -0.408957
2013-01-02  0.861918  0.181241  1.715810 -0.049918
2013-01-06 -1.879630  0.226380 -0.165288  0.598083
2013-01-05  0.871727  1.551480  0.764403 -0.128465

In [22]:
df.sort_values(by='B', ascending=False)

                   A         B         C         D
2013-01-05  0.871727  1.551480  0.764403 -0.128465
2013-01-06 -1.879630  0.226380 -0.165288  0.598083
2013-01-02  0.861918  0.181241  1.715810 -0.049918
2013-01-03  0.467843 -0.180619  0.390219 -0.408957
2013-01-04 -0.262548 -0.492331 -0.503935  0.815956
2013-01-01 -0.002324 -1.038655 -0.539990  0.380492

In [23]:
 from nltk.tokenize import sent_tokenize

In [25]:
 para = "Hello World. It's good to see you. Thanks for buying this
book."

SyntaxError: EOL while scanning string literal (<ipython-input-25-53539f5b955e>, line 1)

In [26]:
 para = "Hello World. It's good to see you. Thanks for buying this book."

In [30]:
import nltk

In [ ]:
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

In [ ]:
 sent_tokenize(para)